
{% load static %}
<link rel="stylesheet" href="{% static 'css/new_package.css' %}">
<div class="container my-5">
    <!-- Üstte Kalın HR 
    <hr class="custom-hr">
    -->
    <div class="d-flex align-items-center mb-4">
        <h2 class="me-3">YENİ PAKETLER</h2>
        <hr class="flex-grow-1" style="margin: 0;">
    </div>
    
    <div class="row">
        <div class="col-md-4 mb-4">
        <div class="card border-0 shadow-lg rounded-3 vibrant-card">
            <img src="{% static 'atxaisoft/at7.JPG' %}" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title text-white">Paket 1</h5>
            <p class="card-text text-light">Canlı renkler ve güçlü özelliklerle tasarlandı.</p>
            <button class="btn vibrant-btn">İNCELE</button>
            </div>
        </div>
        </div>
    
        <div class="col-md-4 mb-4">
        <div class="card border-0 shadow-lg rounded-3 vibrant-card">
            <img src="{% static 'atxaisoft/at5.png' %}" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title text-white">Paket 2</h5>
            <p class="card-text text-light">Renkli ve dinamik bir yapı ile modern deneyim.</p>
            <button class="btn vibrant-btn">İNCELE</button>
            </div>
        </div>
        </div>
    
        <div class="col-md-4 mb-4">
        <div class="card border-0 shadow-lg rounded-3 vibrant-card">
            <img src="{% static 'atxaisoft/at6.JPG' %}" class="card-img-top" alt="...">

            <div class="card-body text-center">
            <h5 class="card-title text-white">Paket 3</h5>
            <p class="card-text text-light">Yenilikçi ve canlı çözümlerle karşınızdayız.</p>
            <button class="btn vibrant-btn">İNCELE</button>
            </div>
        </div>
        </div>
    </div>
    
    <!-- Alt Kısımda Kalın HR 
    <hr class="custom-hr">
    -->
    </div>